doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Footbook
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='style.css')
    script(src='js/vendor.js')
    script(src='js/app.js')
  body.hide
    .container
      .page-start
        h1: img(src="images/logo.png")
        h2 Create your own flip-flops.
        p Tap anywhere to start
        a(href="#") &nbsp;
      .page-choose-theme
        .header
          .logo
            img(src="images/logo.png")
            h2 Custom Shop
          .nav
            a.btn.btn-home Home
            a.btn.btn-cart Cart
            //.btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>
            a.btn.btn-login Login
        h1 Pick a them you want to start from.
        ul.theme-choices
          li
            div
              div.image(style="background-image: url('images/themes/1.jpg')")
              a.btn.btn-white(data-theme="theme-summer") Sports Theme
          li
            div
              div.image(style="background-image: url('images/themes/2.jpg')")
              a.btn.btn-white(data-theme="theme-baseball") Urban Theme
          li
            div
              div.image(style="background-image: url('images/themes/3.jpg')")
              a.btn.btn-white(data-theme="theme-blue") Beach Theme

        a.btn.btn-white.bx-next: span.glyphicon.glyphicon-chevron-right
        a.btn.btn-white.bx-prev: span.glyphicon.glyphicon-chevron-left

      .page-home
        h1: img(src="images/logo.png")
        .home-gallery
          p See masterpieces that have been created by others
          a.btn.btn-white.btn-gallery(href="#") Design Gallery

        .home-create
          img(src="images/home-slipper2.svg")
          a.btn.btn-green.btn-create-your-own(href="#") Create Your Own

        .home-signup
          img(src="images/home-slipper3.svg")
          a.btn.btn-white.btn-signup(href="#") Signup / Login
      .page-creator
        .header
          .logo
            img(src="images/logo.png")
            h2 Custom Shop
          .nav
            a.btn.btn-home Home
            a.btn.btn-cart Cart
            //.btn.btn-username Hi, Username! <a href="#" class="btn btn-logout">LOGOUT</a>
            a.btn.btn-login Login
        .body
          .options
            .wrap
              ul.options-header
                li: a(data-open=".options-size").active Size
                li: a(data-open=".options-style") Style
                li: a(data-open=".options-design") Design
              .options-item.options-size
                ul
                  li.active: a Male
                  li: a Female
                  li: a Kids

                ul
                  li.active: a 6
                  li: a 6.5
                  li: a 7
                  li: a 7.5
                  li: a 8
                  li: a 8.5
                  li: a 9
                  li: a 9.5
                  li: a 10
                  li: a 10.5
                  li: a 11
                  li: a 11.5
                  li: a 12
              .options-item.options-style
                h3 Strap Style
                ul.js-carousel.options-style-strap
                  li.active: a(data-basename="men1a"): img(src="assets/straps/men1a-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="men2b"): img(src="assets/straps/men2b-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies1"): img(src="assets/straps/ladies1-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies3"): img(src="assets/straps/ladies3-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies4"): img(src="assets/straps/ladies4-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies5"): img(src="assets/straps/ladies5-thumb.png" style="max-height: 90%;")
                  li: a(data-basename="ladies6"): img(src="assets/straps/ladies6-thumb.png" style="max-height: 90%;")

                h3 Sole Style
                ul.js-carousel
                  li.active: a: img(src="assets/sole/sole-1.png" style="max-height: 90%;")

                ul.options-style-color.active(style="top: 50px;")
                  //li.active: a(data-color="#FFFFFF" data-colorname="white") White
                  li.active: a(data-color="#0A4436" data-colorname="green") Green
                  li: a(data-color="#808285" data-colorname="grey") Grey
                  li: a(data-color="#000000" data-colorname="black") Black
                  li: a(data-color="#FD6B35" data-colorname="orange") Orange
                  li: a(data-color="#F6B332" data-colorname="yellow") Yellow
                  li: a(data-color="#D0112B" data-colorname="red") Red
                ul.options-style-color(style="top: 190px;")
                  //li.active: a(data-color="#FFFFFF" data-colorname="white") White
                  li.active: a(data-color="#0A4436" data-colorname="green") Green
                  li: a(data-color="#808285" data-colorname="grey") Grey
                  li: a(data-color="#000000" data-colorname="black") Black
                  li: a(data-color="#FD6B35" data-colorname="orange") Orange
                  li: a(data-color="#F6B332" data-colorname="yellow") Yellow
                  li: a(data-color="#D0112B" data-colorname="red") Red
              .options-item.options-design
                //h3 Strap Texture
                //ul.js-carousel
                  li.active: a Texture 1
                  li: a Texture 2
                  li: a Texture 3

                h3 Print Design
                ul.js-carousel.options-design-print-design
                  li.active: a(data-image="assets/patterns/congruent_pentagon.png")
                  li: a(data-image="assets/patterns/restaurant.png")
                  li: a(data-image="assets/patterns/seamless_paper_texture.png")
                  li: a(data-image="assets/patterns/upfeathers.png")
                  li: a(data-image="assets/patterns/bright_squares.png")
                  li: a(data-image="assets/patterns/green_gobbler.png")
                  li: a(data-image="assets/patterns/skulls.png")
                  li: a(data-image="assets/patterns/stardust.png")
                .options-design-upload
                  a.btn.btn-orange.btn-small.btn-upload Upload
                  input(type="file" name="image" id="upload" onchange="previewImage(this)" accept="image/*")
                  a.btn.btn-orange.btn-small.btn-upload-move-up: span.glyphicon.glyphicon-arrow-up
                  a.btn.btn-orange.btn-small.btn-upload-move-down: span.glyphicon.glyphicon-arrow-down
                  a.btn.btn-orange.btn-small.btn-upload-move-left: span.glyphicon.glyphicon-arrow-left
                  a.btn.btn-orange.btn-small.btn-upload-move-right: span.glyphicon.glyphicon-arrow-right
                  br
                  a.btn.btn-orange.btn-small.btn-upload-zoom-in: span.glyphicon.glyphicon-zoom-in
                  a.btn.btn-orange.btn-small.btn-upload-zoom-out: span.glyphicon.glyphicon-zoom-out
                  a.btn.btn-orange.btn-small.btn-mirror Mirror
                  //a.btn.btn-orange.btn-small.btn-remove-upload Remove

                h3 Strap Accessories
                ul.js-carousel.options-strap-accessories
                  li: a(data-price="50.00"): img(src="assets/accessory/1.png")
                  li: a(data-price="30.00"): img(src="assets/accessory/2.png")
                  li: a(data-price="20.00"): img(src="assets/accessory/3.png")

          .main
            .main-place-accessory.cover
              h2 Drag your accessory into position
            .main-place-accessory
              .btn-container
                a.btn.btn-red.btn-cancel Cancel
                a.btn.btn-green-light.btn-done Done
            .main-tools
              a.btn.btn-orange.btn-undo Undo
              a.btn.btn-orange.btn-redo Redo
              .main-tools-zoom
                a.btn.btn-orange.btn-zoom-out Zoom out
                p 100%
                a.btn.btn-orange.btn-zoom-in Zoom in
              a.btn.btn-green-light.btn-preview.btn-save Save &amp; Preview
            .main-show
              .main-show-top
                // Slippers svg container
              .main-show-left
                // Slippers svg container
                p &nbsp;
              .main-show-right
                // Slippers svg container
                p &nbsp;

            .main-other
              .main-view
                .main-view-top.active
                .main-view-left
                .main-view-right
                //.main-view-diagonal
                  img(src="images/preview-diagonal.svg")

              .main-checkout
                p PHP <b>250.00</b>
                a.btn.btn-green-light.btn-checkout Checkout

    .popup.popup-get-ticket
      a.btn-close Close
      img(src="images/modal-signin.svg")
      p Please get your order ticket and present to the cashier
      a.btn.btn-green-light.btn-done Done
    .popup.popup-checkout
      a.btn-close Close
      .popup-checkout-left
        a.btn.btn-orange.btn-small.btn-prev: span.glyphicon.glyphicon-arrow-left
        a.btn.btn-orange.btn-small.btn-next: span.glyphicon.glyphicon-arrow-right
        .center.checkout-slipper-container
          //img(src="assets/slippers/slippers.svg" width="280")
        .center
          a.btn.btn-share Share it!
      .popup-checkout-right
        h2 Summary
        table.price-breakdown
          tr
            th Item
            th Price
          tr
            td Sole
            td <span>PHP</span> 100.00
          tr
            td Strap
            td <span>PHP</span> 50.00
          tr
            td Print Design
            td <span>PHP</span> 100.00

        table.popup-checkout-subtotal.price-subtotal
          tr
            td Subtotal
            td <span>PHP</span> 350.00

        table.popup-checkout-grandtotal.price-grandtotal
          tr
            td Quantity
            td: input(type="text" value="1" onchange="updateGrandtotal()")
          tr
            td Grand Total
            td <span>PHP</span> 350.00

        a.btn.btn-green-light.btn-checkout-final Checkout
    .popup.popup-register
      div(style="width: 25%; font-weight: 300; opacity: 0.8")
        p Hey there,
        p You can login to see you previous works and unfinished designs

      div(style="width: 70%; padding-top: 2em;")
        div(style="width: 30%; float: left;")
          input.js-keyboard(type="text" placeholder="First Name")
        div(style="width: 30%; float: left;")
          input.js-keyboard(type="text" placeholder="Last Name")
        div(style="width: 30%; float: left;")
          input.js-keyboard(type="password" placeholder="Password")
        a.btn.btn-small.btn-blue(style="width: 30%;") Register


      a(style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip") Skip »

    .popup.popup-signin
      div(style="width: 25%; font-weight: 300; opacity: 0.8")
        p Hey there,
        p You can login to see you previous works and unfinished designs

      div(style="width: 40%; padding-top: 2em;")
        div(style="width: 50%; float: left;")
          input.js-keyboard(type="text" placeholder="Username")
        div(style="width: 50%; float: left;")
          input.js-keyboard(type="password" placeholder="Password")
        a.btn.btn-small.btn-green-light(style="width: 94%" href="industrial.html") Login

      div(style="width: 30%; padding-top: 2.70em;")
        p(style="margin: 0; padding: 0; font-weight: 300; opacity: 0.8; font-size: 0.9em;") Don't have an account?
        a.btn.btn-small.btn-blue.btn-register(style="width: 100%") Register

      a(style="cursor: pointer; position: absolute; top: 5px; right: 10px; text-transform: uppercase; opacity: 0.8" class="btn-skip") Skip »

    .popup.popup-accessory
      h2 Add this strap accessory?
      div
        img(src="assets/accessory/1.png")
      p.currency + <span>PHP</span> <strong>50.00</strong>

      a.btn.btn-red.js-close-popup No
      a.btn.btn-green-light.js-add-accessory Yes

    .popup.popup-gallery
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.item: img(src="http://placehold.it/350x350")
      a.btn-close Close

.pattern

.accessory-close
