.accessory-close
  background: url('images/icon-close.svg') no-repeat center center
  background-size: 100%
  height: 14px
  width: 13px

  cursor: pointer

  z-index: 10000

  position: absolute
  top: 0
  left: 0

  visibility: hidden
  opacity: 0

  transition: opacity 200ms ease

  &.active
    visibility: visible
    opacity: 1