.options-search
  cf()
  text-align: center
  min-height: 35px
  input
    background-color: #7A7877
    border-radius: 5px
    border: none
    padding: 5px
    font-size: 13px
    width: 78%
  a
    background-color: #2D2A2A
    border-bottom-color: #191516
    color: #fff
    font-weight: normal
    padding: 5px
    width: 20%
    &:active, &.active
      top: 2px
      background-color: #FF6B00
      border: none

