.options-sole-style-buttons
  cf()
  text-align: center
  padding: 0 1em
  a
    col(1/4)
    background-color: #5A5A5A
    border-bottom-color: #191516
    color: #fff
    font-weight: normal
    &:active, &.active
      top: 2px
      background-color: #FF6B00
      border: none
