.owl-controls
  .owl-buttons
    height: 0
    margin: 0
  .owl-prev
  .owl-next
    position: absolute
    left: -1.5em
    top: -0.5em
    height: 100%
    text-indent: -999px
    border-radius: 12px 0 0 12px !important
    opacity: 1 !important
    background: #86412A url('images/icon-arrow-left.svg') no-repeat center center !important
    background-size: 9px !important
  .owl-next
    left: auto
    right: -1.5em
    border-radius: 0 12px 12px 0 !important
    background-image: url('images/icon-arrow-right.svg') !important
