.page-creator
  background-color: #F5D078
  background-image: url('images/home-bg.svg'), url('images/bg-leaves.svg'), url('images/bg-statue.svg'), url('images/bg-turtle.svg')
  background-position: center center, 120% 2%, -5% 95%, 109% 109%
  background-repeat: repeat, no-repeat, no-repeat, no-repeat
  background-size: 3%, 44%, 16%, 25%
  padding: 1em
  height: 800px
  .body
    cf()
    padding: 0.5em

