.page-choose-theme
  z-index: 800
  background: #EA652D
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  padding: 1em
  background-color: #D25B23
  background-image: url('images/home-bg.svg'), url('images/map.png')
  background-size: 3%, 1200px
  background-repeat: repeat, no-repeat
  background-position: center, center
  .header
    .logo h2
      color: #fff

  h1
    text-align: center
    color: #fff
    font-family: Lato, sans-serif
    font-weight: 300
  .bx-prev, .bx-next
    position: absolute
    top: 340px
    left: -0.5em
    width: 40px
    height: 80px
    font-size: 1.35em
    text-align: center
    border-radius: 8px
    border-width: 4px
    span
      float: left
      margin-top: 14px
      margin-left: -10px
    &:active
      top: 344px

  .bx-pager-link.active
    background-color: #fff !important

  .bx-pager-link
    background-color: transparent !important
    border: 3px solid #fff !important
    height: 15px !important
    width: 15px !important

  .bx-next
    left: auto
    right: -0.5em
    span
      float: right
      margin-right: -10px

  .bx-pager
    bottom: -80px !important

.theme-choices
  margin-left: 2em
  padding-bottom: 2em
  li
    padding-bottom: 2em
    div
      margin: 1em
      margin-right: 4em
    .image
      height: 330px
      width: 330px
      background-repeat: no-repeat
      background-size: cover
      border-radius: 8px
      border: 10px solid rgba(#000, 0.4)
      width: 100%
      box-sizing: border-box
      overflow: hidden
      margin: 0 auto
    .btn
      display: block
      font-size: 1.5em
      padding: 0.75em 2em
      margin-top: 1em
      &:active
        top: 3px !important
