.theme-summer
  .page-creator
    background: url('images/themes/1bg.jpg') no-repeat
    background-size: cover
    position: relative
.theme-baseball
  .page-creator
    background: url('images/themes/2bg.jpg') no-repeat
    background-size: cover
.theme-blue
  .page-creator
    background: url('images/themes/3bg.jpg') no-repeat
    background-size: cover
